/*************************************************************
*	Suzanne Kersten
*	12/16/2017
*	Formatting for index.html page.
**************************************************************/
/*Make the body more centered. */
body {
	width: 85%;
	margin: auto;
	margin-top: 15px;
}

/********** INPUTS ****************************/
/*submit buttons: Pretty much the 'make it noice' button*/
input[type=submit] {
	margin-bottom: 10px;
}

/*messenger client choice.*/
#messengerForm {
	float: right;
}

/*The box that they put the rp text into. */
#userInputRp {
	float: left;
	margin: auto;
	width: 30%;
}

/********** GENERATED OUTPUT ****************************/
/* The whole rp chat area. */
#rpOutput {
	max-width: 800px;
	min-width: 400px;
	margin: auto;
}

/* Basic formatting for the rp text bubbles. */
.leftRP, .rightRP {
	max-width: 75%;
	min-width: 40%;
	font-size: 14px;
	color: #25201C;
	font-family: Verdana, sans-serif;
	padding: 10px;
	margin: 0px;
	margin-bottom: 4px;
	border-radius: 10px;
	float: left;
	clear: both;
}

/*left rp bubbles need to be on the left */
.leftRP{
	float: left;
	background-color: #E9E8F1;
}
/*right rp bubbles need to be a dif. color on the right */
.rightRP{
	float: right;
	background-color: #DCF2D4;
}

/********** SPLITTING ELEMENTS ****************************/
/* The panel that has save, cancel, and other options for editing the post. */
.editControl {
	margin: 0px;
	float: left;
	clear: both;
}

/* If the rp is following a right rp post, make it float right. */
p.rightRP + .editControl{
	float: right;
}

/*Used to clarify to the user what rp post is being edited by them. */
#editingRpPost  {
	background-color: #fff2f5;
	border: 5px solid black;
}